@charset "utf-8";
/* CSS Document */

body {
	font: 100%/1.4;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img {
	border: none;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 1190px;
	background-color: #FFF;
	margin: 0 auto; 
}


#header {
	background-color: #fff;
	width: 100%;
	height: 160px;
}

#login{
}

#menu{
	width: 1190px;
	margin: 40px auto;
	min-height: 40px;
	display: block;
}

#menu ul{
	margin: 0 -29px;
}

#menu ul li{
	list-style: none;
	float: left;
}

#menu ul li a{
	height: 40px;
	width: 100%;
	display: block;
	color: #ee5758;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 29px;
	line-height: 40px;
}

#menu ul li a:hover, a:active{
	color: #fff;
	
}

#menu ul li:hover{
	display: block;
	background-color: #ee5758;
}

.content {
	padding: 10px 0;
}


.footer {
	padding: 10px 0;
	background-color: #CCC49F;
}


.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


