@charset "utf-8";


/*******BASE******/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #444444;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(240, 108, 109);
	font-weight: bold;
	margin: 0 0 10px 0;
}
h2{
	font-size: 40px;
	text-align: center;
	margin-bottom: -5px;
}

h3{
	font-size: 24px;
	text-align: center;
}

h4{
	font-size: 27px;
	margin: 0 0 30px 0;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 17px;
	margin: 0;
	float:left;
}

p{
	color: #444444;
	font-size: 17px;
	font-weight:normal;
	line-height: 25px;
	margin-bottom: 10px;
	text-indent: 15px;
}

a img {
	border: none;
}

a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
	color: rgb(240, 108, 109)
}


/*******FORM******/

form label{
	color: #f06c6d;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 15px;
}

input, input[type='text'], input[type='password'], input[type='email']{
	height: 35px;
	color: #f09494;
	background-color: #ffecec;
	border: #ffcdcd 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0;
	margin: 10px 0;
	width: 100%;
}

input[type='radio'] {
-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-webkit-appearance: none;
-webkit-margin-start: 0;
-webkit-margin-end: 3px;
-webkit-transition: border 500ms;
background: -webkit-linear-gradient(#fafafa, #dcdcdc);
border-radius: 100%;
border: 1px solid #ffcdcd;
display: inline-block;
height: 15px;
margin-bottom: 0;
position: relative;
top: 3px;
vertical-align: baseline;
width: 15px;
}
input[type='radio']:disabled {
opacity: .75;
}
input[type='radio']:not(:disabled):not(:active):hover {
background: -webkit-linear-gradient(#fff, #e6e6e6);
text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
input[type='radio']:not(:disabled):active {
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
background: -webkit-linear-gradient(#fff, #e6e6e6);
border: 1px solid #ffcdcd;
text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
input[type='radio']:checked::before {
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
-webkit-margin-start: 4px;
background: #f09494;
border-radius: 10px;
content: '';
display: inline-block;
font-size: 13px;
font-weight: 400;
height: 5px;
left: 0;
margin-top: 4px;
opacity: 1;
position: absolute;
top: 0;
vertical-align: top;
width: 5px;
}
html[dir='rtl'] input[type='radio']:checked::before {
right: 0;
}
input[type='radio']:active:checked::before {
background: #f09494;
}

button{
	background-image:  url(img/bg-bt01.png);
	background-color: transparent !important;
	border: none !important;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	width: 209px;
	height: 35px;
	float: right;
	cursor: pointer;
}

/*************LARGURA FORM*************/

.lar-01{
	width: 100%;
	height: 105px;
	float:left;
}

.lar-02{
	width: 340px;
	height: 105px;
	float:left;
}

.lar-03{
	width: 255px;
	height: 105px;
	float:left;
}

.lar-04{
	width: 160px;
	height: 105px;
	float:left;
}

.lar-05{
	width: 65px;
	height: 105px;
	float:left;
}

.margem-01{
	margin: 0 25px 0 0;
}

.margem-02{
	margin: 0 20px 0 25px;
}

.margem-03{
	margin: 10px 15px 0 0;
	
}

.margem-04{
	margin: 10px 0 0 0;
}

.radius{
	color: #f09494;
	background-color: #ffecec;
	border: #ffcdcd 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0 20px;
	line-height: 35px;
	width: 120px;
	float: left;
}


/*************BACKGROUND IMG DAS PÁSGINAS*************/

.bg-home{
	background-image: url(img/bg-inicio.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: bottom;
	height: 775px;
}

.bg-home{
	background-image: url(img/bg-inicio.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: bottom;
	height: 775px;
}



/*******BOX / CONTAINERS / CONTENT******/

.box01{
	width: 436px;
	min-height: 100px;
	float: left;
	margin: 0 20px 0 0;
}

.box02{
	width: 710px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 15px;
}

.box03{
	width: 300px;
	min-height: 100px;
	float: left;
	margin: 0 10px 0 0px;
}

.box04{
	width: 865px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 10px;
}

.box05{
	width: 580px;
	min-height: 100px;
	float: left;
	margin: 0 15px 0 0;
}

.box06{
	width: 580px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 15px;
	background-color: red;
}

.container {
	width: 1190px;
	margin: 0 auto;
}

.over{
	overflow: hidden;
}

.content {
	padding: 10px 0;
}


/******* HEADER ******/


#mensagem{
    display: none;
}

#header {
	background-color: #fff;
	width: 100%;
	height: auto;
}

.arealogin{
	width: 100%;
	height: 60px;
	line-height: 60px;
}

#closeMsg, .login, .login a{
	color: #f06c6d;
	font-weight: normal;
}
.login ul{
    float: right;
}
.login ul li, span{
	list-style: none;
	padding: 0 10px;
	margin-right: -10px;
    float: left;
}

.login ul li a:hover{
	color: #f06c6d;
}

.resultado{
	width: auto;
	float: right;
}

/******* MENU ******/

#menu{
	width: 1190px;
	margin: 40px auto;
	min-height: 40px;
	display: block;
}

#menu ul{
	margin: 0 -29px;
}

#menu ul li{
	list-style: none;
	float: left;
}

#menu ul li a{
	height: 40px;
	width: 100%;
	display: block;
	color: #ee5758;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 29px;
	line-height: 40px;
}

#menu ul li a:hover, a:active{
	color: #fff;
	
}

#menu ul li:hover{
	display: block;
	background-color: #ee5758;
}



/*************CSS das Páginas Internas*************/


.menuMinhaConta ul li{
	height: 35px;
	line-height: 35px;
	list-style-type: none;
	border-bottom: rgb(240, 108, 109) dotted 1px;
}

.menuMinhaConta ul li a{
	height: 35px;
	line-height: 35px;
}

.menuMinhaConta ul li a:hover, .menuMinhaConta ul li a:active{
	color: #f06c6d;
	height: 35px;
	line-height: 35px;
	width: 100%;
	background-color: #ffeeee;
	display: block;
}

.menuMinhaConta ul li.sair {
	border: none !important
}

.menuMinhaConta ul li.sair a, .menuMinhaConta ul li.sair a:hover {
	background-color: transparent;
	width: 30px;
	height: 35px;
}

.botao01{
	float:left;
}

/******* ITENS ******/


.line{
	background-image: url(img/line.png);
	background-repeat: repeat-y;
	width: 3px;
	height: 620px;
	float: left;
	background-position-x: -3px;
}

.line02{
	background-image: url(img/line.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 9px;
	float: left;
}


/******* FOOTER ******/


.footer {
	background-color: transparent;
	height: 100px;
}


.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


