@charset "utf-8";


/*******BASE******/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #444444;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(240, 108, 109);
	font-weight: bold;
	margin: 0 0 10px 0;
}
h2{
	font-size: 80px;
	text-align: center;
	margin-bottom: -5px;
}

h3{
	font-size: 24px;
	text-align: center;
}

h4{
	font-size: 27px;
	margin: 0 0 30px 0;
}

h5{
	font-size: 18px;
}

h6{
	font-weight: normal;
	font-size: 12px;
	margin: 0;
	color: #444444;
}

p{
	color: #444444;
	font-size: 17px;
	font-weight:normal;
	line-height: 25px;
	margin-bottom: 10px;
	text-indent: 15px;
}

a img {
	border: none;
}

a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
	color: rgb(240, 108, 109)
}

li{
	list-style: none;
}

/*******FORM******/

form label{
	color: #5b5b5b;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 15px;
}

input, input[type='text'], input[type='password'], input[type='email'], textarea{
	height: 35px;
	color: #f09494;
	background-color: #ffecec;
	border: #ffcdcd 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0 10px;
	margin: 10px 0;
	width: 90%;                         /* para navegadores que não suportam calc() */
	width: -webkit-calc(100% - 20px);  /* para Chrome */
	width: -moz-calc(100% - 20px);     /* para Firefox */
	width: calc(100% - 20px);          /* para suporte nativo */
}

textarea{
	height: 130px;
	padding: 10px;
	width: 90%;                         /* para navegadores que não suportam calc() */
	width: -webkit-calc(100% - 20px);  /* para Chrome */
	width: -moz-calc(100% - 20px);     /* para Firefox */
	width: calc(100% - 20px);          /* para suporte nativo */
	
}
textarea.width-01{
 width:1165px
}

input[type='radio'] {
	-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
	-webkit-appearance: none;
	-webkit-margin-start: 0;
	-webkit-margin-end: 3px;
	-webkit-transition: border 500ms;
	background: -webkit-linear-gradient(#fafafa, #dcdcdc);
	border-radius: 100%;
	border: 1px solid #ffcdcd;
	display: inline-block;
	height: 15px;
	margin-bottom: 0;
	position: relative;
	top: 3px;
	vertical-align: baseline;
	width: 15px;
}
input[type='radio']:disabled {
	opacity: .75;
}
input[type='radio']:not(:disabled):not(:active):hover {
	background: -webkit-linear-gradient(#fff, #e6e6e6);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
input[type='radio']:not(:disabled):active {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	background: -webkit-linear-gradient(#fff, #e6e6e6);
	border: 1px solid #ffcdcd;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
input[type='radio']:checked::before {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-webkit-margin-start: 4px;
	background: #f09494;
	border-radius: 10px;
	content: '';
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	height: 5px;
	left: 0;
	margin-top: 4px;
	opacity: 1;
	position: absolute;
	top: 0;
	vertical-align: top;
	width: 5px;
}
html[dir='rtl'] input[type='radio']:checked::before {
right: 0;
}
input[type='radio']:active:checked::before {
background: #f09494;
}

button, input[type='submit']{
	background-image:  url(img/bg-bt01.png);
	background-color: transparent !important;
	border: none !important;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	width: 209px;
	height: 35px;
	float: right;
	cursor: pointer;
}

/*************LARGURA FORM*************/

.lar-00{
	width: 100%;
	float:left;
}

.lar-01{
	width: 100%;
	height: 105px;
	float:left;
}

.lar-02{
	width: 340px;
	height: 105px;
	float:left;
}

.lar-03{
	width: 270px;
	height: 105px;
	float:left;
}

.lar-04{
	width: 160px;
	height: 105px;
	float:left;
}

.lar-05{
	width: 65px;
	height: 105px;
	float:left;
}

.lar-06{
	width: 173px;
	height: 105px;
	float:left;
}

.lar-07{
	width: 420px;
	height: 105px;
	float:left;
}

.lar-08{
	width: 141px;
	height: 105px;
	float:left;
}

.lar-09{
	width: 73px;
	height: 105px;
	float:left;
}

.lar-10{
	width: 197px;
	height: 105px;
	float:left;
}

.lar-11{
	width: 420px;
	height: 130px;
	float:left;
}

.lar-12{
	width: 124px;
	height: 105px;
	float:left;
}

.lar-13{
	width: 50px;
	height: 105px;
	float:left;
}

.lar-14{
	width: 270px;
	height: 105px;
	float:left;
}

.lar-15{
	width: 574px;
	height: 105px;
	float:left;
}

.lar-16{
	width: 100%;
	min-height: 105px;
	float:left;
}

.lar-17 {
	width: 325px;
	height: 105px;
	float: left;
}

.lar-18{
	width: 700px;
	float:left;
}

.margem-01{
	margin: 0 25px 0 0;
}

.margem-02{
	margin: 0 40px 0 0;
}

.margem-03{
	margin: 0 60px 0 0;
}


.radius{
	color: #f09494;
	background-color: #ffecec;
	border: #ffcdcd 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0 20px;
	line-height: 35px;
	width: 120px;
	float: left;
}


/*************BACKGROUND IMG DAS PÁSGINAS*************/

.bg-home{
	background-image: url(img/bg-inicio02.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: bottom left;
	height: 775px;
}

.bg-parceiros{
	background-image: url(img/bg-parceiros.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
}

.bg-premio{
	background-image: url(img/bg-premio.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
}
.bg-edital{
	background-image: url(img/bg-edital.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
}

.bg-inscrever{
	background-image: url(img/bg-inscrever.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left bottom;
}

.bg-participacao{
	background-image: url(img/bg-participacao.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
}

.bg-contato{
	background-image: url(img/bg-contato.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
}

/*******BOX / CONTAINERS / CONTENT******/

.box01{
	width: 436px;
	min-height: 100px;
	float: left;
	margin: 0 20px 0 0;
}

.box02{
	width: 710px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 15px;
}

.box03{
	width: 300px;
	min-height: 100px;
	float: left;
	margin: 0 10px 0 0px;
}

.box04{
	width: 865px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 10px;
}

.box05{
	width: 580px;
	min-height: 100px;
	float: left;
	margin: 0 15px 0 0;
}

.box06{
	width: 580px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 15px;
}

.box07{
	width: 889px;
	min-height: 100px;
	float: left;
	margin: 0 22px 0 0;
}

.box08{
	width: 253px;
	min-height: 100px;
	float: left;
	margin: 0 0 0 22px;
}

.box09{
	width: 420px;
}

.box10{
	width: 355px;
	min-height: 100px;
	float: left;
}

.box11{
	width: 700px;
	min-height: 100px;
	float: left;
	margin: 0 15px 0 0;
}

.box12{
	width: 460px;
	min-height: 100px;
	float: left;
	margin: 50px 0 0 15px;
}

.box13 {
	min-height: 100px;
	float: right;
	text-align: center;
}

.box14 {
	width: 835px;
	min-height: 100px;
	text-align: right;
	display: inline-block;
	margin-top: 50px;
}

.container-master{
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 160px;
	margin-bottom: 25px;
}

.container {
	width: 1190px;
	margin: 0 auto;
}

.over{
	overflow: hidden;
}

.content {
	padding: 10px 0;
}


/******* HEADER ******/


#mensagem{
    display: none;
}

#header {
	width: 100%;
	height: auto;
}

.arealogin{
	width: 100%;
	height: 60px;
	line-height: 60px;
}

#closeMsg, .login, .login a{
	font-weight: bold;
	text-transform: uppercase;
}
.login ul{
    float: right;
}
.login ul li, span{
	color: #f06c6d;
	list-style: none;
	padding: 0 10px;
	margin-right: -10px;
    float: left;
}

.login ul li a:hover{
	color: #444;
}

.resultado{
	width: auto;
	float: right;
}

/******* MENU ******/

#menu{
	width: 1190px;
	margin: 40px auto;
	min-height: 40px;
	display: block;
}

#menu ul{
	margin: 0 -27.5px;
}

#menu ul li{
	list-style: none;
	float: left;
}

#menu ul li a{
	height: 40px;
	display: block;
	color: #ee5758;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 33px;
	line-height: 40px;
}

#menu ul li a:hover{
	color: #fff;
	
}

#menu ul li.menu-item01:hover{
	display: block;
	background-image: url(img/bg-menu-item01.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item02:hover{
	display: block;
	background-image: url(img/bg-menu-item02.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item03:hover{
	display: block;
	background-image: url(img/bg-menu-item03.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item04:hover{
	display: block;
	background-image: url(img/bg-menu-item04.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item05:hover{
	display: block;
	background-image: url(img/bg-menu-item05.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item06:hover{
	display: block;
	background-image: url(img/bg-menu-item06.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#menu ul li.menu-item07:hover{
	display: block;
	background-image: url(img/bg-menu-item07.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}



/*************CSS das Páginas Internas*************/


.menuMinhaConta ul li{
	height: 35px;
	line-height: 35px;
	list-style-type: none;
	border-bottom: rgb(240, 108, 109) dotted 1px;
}

.menuMinhaConta ul li a{
	height: 35px;
	line-height: 35px;
}

.menuMinhaConta ul li a:hover, .menuMinhaConta ul li a:active{
	color: #f06c6d;
	height: 35px;
	line-height: 35px;
	width: 100%;
	background-color: #ffeeee;
	display: block;
}

.menuMinhaConta ul li.sair {
	border: none !important
}

.menuMinhaConta ul li.sair a, .menuMinhaConta ul li.sair a:hover {
	background-color: transparent;
	width: 30px;
	height: 35px;
}

.botao01{
	float:left;
}

.bolinha01{
	color: #f06c6d;
	padding-right: 15px;
}

.box05 ul li{
	list-style: none;
}

/******* ITENS ******/


.line{
	background-image: url(img/line-vertical.png);
	background-repeat: repeat-y;
	width: 3px;
	height: 500px;
	float: left;
}

.line02{
	background-image: url(img/line-horizontal.png);
	background-repeat: repeat-x;
	width: 300px;
	height: 3px;
	float: left;
}


/******* FOOTER ******/


.footer {
	background-color: transparent;
	height: 100px;
}


.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


